.cover-user-edit {
    height: 100%;
    width: 100%;
    background-image: url(/assets/mypage-scaled.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

/* チャット全体の背景 */
.chat-box {
  background: #f8f9fa;
  border-radius: 0px;
  padding: 0px;
  height: 500px;
  width: 1000px;
  overflow-y: scroll;
}

/* メッセージ共通 */
.chat-message {
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 12px;
  margin-bottom: 12px;
  line-height: 1.4;
}

/* 相手のメッセージ（左） */
.chat-message-left {
  background-color: var(--bs-danger-bg-subtle);
  border: 1px solid #ddd;
   color: var(--bs-body-color);
}

/* 自分のメッセージ（右） */
.chat-message-right {
  background-color: var(--bs-success-bg-subtle);
  color: var(--bs-body-color);
}

/* 吹き出しの影 */
.chat-message-left,
.chat-message-right {
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

/* 送信フォームの見た目調整 */
textarea.form-control {
  resize: none;
}

/* リンクの装飾 */
.chat-header-link {
  text-decoration: none;
  color: #333;
}

.chat-header-link:hover {
  text-decoration: underline;
}

/* スクロールバーのデザイン（Chrome用） */
.chat-box::-webkit-scrollbar {
  width: 8px;
}

.chat-box::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 4px;
}

.chat-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}